<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Visualization</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div id="main-container">
        <div id="graph-area">
            <canvas id="canvas" width="750" height="500"></canvas>
            <div id="context-menu">
                <ul>
                    <li id="add-node">Add Node</li>
                    <li id="add-edge">Add Edge</li>
                    <li id="delete-node">Delete Node</li>
                    <li id="remove-edge">Remove Edge</li>
                    <li id="edit-edge">Edit Edge</li>
                    <li id="point-start">Point start node</li>
                    <li id="point-stop">Point stop node</li>
                </ul>
            </div>
        </div>

<!--        <div id="matrix-area">-->
<!--            <h2>Graph Incidence Matrix</h2>-->
<!--            <div id="matrix-container"></div>-->
<!--        </div>-->
    </div>

    <div id="log-container">
        <h3>Graph Event Log:</h3>
        <textarea id="log" rows="10" readonly></textarea>
    </div>

    <script src="static/script.js"></script>
    <script src="static/menu.js"></script>
    <script src="static/func.js"></script>

</body>
</html>